torch==2.0.1
torchvision
torchinfo
cython
argparse
numpy
mmengine
imagecorruptions
scipy
mmcv-full
scikit-learn
opencv-contrib-python-headless
pydicom
pyjpegls
pylibjpeg-openjpeg
pylibjpeg
wandb
timm
optuna
joblib
focal_loss_torch